<template name="test">
	<div class="container container--test">
		<div class="navigation navigation--test">
			<a href="{{pathFor 'home'}}" class="logo nav-child"></a>
			<a href="{{pathFor 'home'}}" class="logo-mobile nav-child"></a>
			{{#if result}}
				<span class="nav-child timer">Закончено</span>
			{{else}}
				<span class="nav-child timer">{{formatDate time}}</span>
				<a href="#" class="general-button submit-test-btn">Завершить тест</a>
			{{/if}}
			{{#if currentUser}}
				<a href="{{pathFor 'cabinet'}}" class="account nav-child"><i class="fa fa-user"></i>Привет, {{user_name.name}}</a>
			{{/if}}
		</div>

		<div class="test-navigation">
			<a href="" data-for="q-kazakh" class="test-navigation__item active">
				<span class="subject-title--mobile">К</span>
				<span class="subject-title">Казахский</span>
			</a>
			<a href="" data-for="q-math" class="test-navigation__item">
				<span class="subject-title--mobile">М</span>
				<span class="subject-title">Математика</span>
			</a>
			<a href="" data-for="q-russian" class="test-navigation__item">
				<span class="subject-title--mobile">Р</span>
				<span class="subject-title">Русский</span>
			</a>
			<a href="" data-for="q-history" class="test-navigation__item">
				<span class="subject-title--mobile">И</span>
				<span class="subject-title">История</span>
			</a>
			<a href="" data-for="q-{{fifth}}" class="test-navigation__item">
				<span class="subject-title--mobile">5</span>				<span class="subject-title">5-ый предмет</span>
			</a>
		</div>

		<section class="test-content">
			<div class="test-questions">
				<div id="kazakh">
					{{#each kazakh_questions}}
						{{> m_question}}
					{{/each}}
				</div>
				<div id="russian">
					{{#each russian_questions}}
						{{> m_question}}
					{{/each}}
				</div>
				<div id="math">
					{{#each math_questions}}
						{{> m_question}}
					{{/each}}
				</div>
				<div id="history">
					{{#each history_questions}}
						{{> m_question}}
					{{/each}}
				</div>
				<div id="{{fifth}}">
					{{#each fifth_questions}}
						{{> m_question}}
					{{/each}}
				</div>
			</div>
		</section>
	</div>

	<script type="text/x-mathjax-config">
	  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
	</script>
	<script src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>


</template>

<template name="m_question">
	<form id="question_{{_id}}">
		<legend>{{{question}}}</legend>
		<label class="answer"><input type="radio" name="radgroup" value="A"><span class="label-text">{{{choice_A}}}</span></label>
		<label class="answer"><input type="radio" name="radgroup" value="B"><span class="label-text">{{{choice_B}}}</span></label>
		<label class="answer"><input type="radio" name="radgroup" value="C"><span class="label-text">{{{choice_C}}}</span></label>
		<label class="answer"><input type="radio" name="radgroup" value="D"><span class="label-text">{{{choice_D}}}</span></label>
		<label class="answer"><input type="radio" name="radgroup" value="E"><span class="label-text">{{{choice_E}}}</span></label>
	</form>
</template>