<template name="cabinet">
	<div class="container container--cabinet">
		<div class="navigation navigation--cabinet">
			<a href="{{pathFor 'home'}}" class="logo nav-child"></a>
			<a href="{{pathFor 'home'}}" class="logo-mobile nav-child"></a>
			{{#if currentUser}}
				<a href="{{pathFor 'cabinet'}}" class="account nav-child"><i class="fa fa-user"></i>Привет, {{name}}</a>
			{{/if}}
		</div>

		<section class="cabinet">
			{{#if isNotNull result}}
				<span class="result">Ваш результат: <strong>{{result}}</strong></span>
			{{/if}}
			<div class="cabinet-item account-info">
				<table class="account-info__table">
					<tr>
						<td class="account-info__item">Имя:</td>
						<td class="account-info__value">{{name}}</td>
					</tr>
					<tr>
						<td class="account-info__item">Фамилия:</td>
						<td class="account-info__value">{{surname}}</td>
					</tr>
					<tr>
						<td class="account-info__item">Язык:</td>
						<td class="account-info__value">{{language}}</td>
					</tr>
					<tr>
						<td class="account-info__item">Регион:</td>
						<td class="account-info__value">{{region}}</td>
					</tr>
				</table>
			</div>
			<div class="cabinet-item actions-navigation">
				<a href="{{#if isNotNull result}}{{pathFor 'test'}}{{else}}{{pathFor 'confirm'}}{{/if}}" class="action">Пройти тест</a>
				<a href="{{pathFor 'rankings'}}" class="action">Таблица результатов</a>
				<a href="http://vk.com/studyspacekz" target="_blank" class="action">Онлайн урок</a>
				<a href="http://vk.com/share.php?url=http://ent.studyspace.kz" target="_blank" class="action" >Поделиться</a>
			</div>
			<a href="#" class="general-button cabinet-logout">Выйти</a>
		</section>
	</div>
</template>