<template name="enter">
	<div class="container container--enter">
		<div class="navigation">
			<a href="{{pathFor 'home'}}" class="logo nav-child"></a>
		</div>
		<form action="" class="form enter-form">
			<input class="form__child enter-form__child" type="email" placeHolder="Email">
			<input class="form__child" type="password" placeHolder="Пароль">
			<input class="form__child" type="submit" value="Войти">
<!-- 			<input class="form__child" type="submit" id="_register_" value="Регистрация" style="background-color:#ccc;color:black;margin-top:0;" />
 -->		</form>
	</div>
</template>