<template name="home">
	
	<header>
		<div class="container container--header">
			<div class="navigation">
				<a href="{{pathFor 'home'}}" class="logo nav-child"></a>
				{{#if currentUser}}
					<a href="{{pathFor 'cabinet'}}" class="account nav-child"><i class="fa fa-user"></i>Привет, {{user_name.name}}</a>
				{{else}}
					<a href="{{pathFor 'register'}}" class="nav-child register-btn">Регистрация</a>
					<a href="{{pathFor 'enter'}}" class="nav-child enter-btn">Войти</a>
				{{/if}}
			</div>
			
			<div class="mobile-navigation">
				{{#if currentUser}}
					<a href="{{pathFor 'cabinet'}}" class="account nav-child"><i class="fa fa-user"></i>{{user_name.name}}</a>
				{{else}}
					<a href="{{pathFor 'register'}}" class="mobile-navigation__item">Регистрация</a>
					<a href="{{pathFor 'enter'}}" class="mobile-navigation__item">Войти</a>
				{{/if}}
			</div>



			<div class="header-title">
				<img src="/img/header-image.svg" alt="">
				<span class="header-title__text">Онлайн подготовка к ЕНТ</span>
				<a href="{{#if isNotNull result}}{{pathFor 'test'}}{{else}}{{pathFor 'confirm'}}{{/if}}" class="cta">
					Пройти тест
				</a>
				<a href="http://vk.com/studyspacekz" target="_blank" class="cta">
					Видео лекции
				</a>
			</div>
		</div>
	</header>
	<section class="process-section">
		<h1 class="process-section__title">Как это работает</h1>
		<div class="container container--process">
			<div class="step">
				<div class="step-child step-text-section step-text-section--flex">
					<h2 class="step-title">Регистрируйтесь</h2>
					<p class="step-text">Пройдите по ссылке регистрации и заполните все поля. Запомните свой email и пароль. Ваш email будет вашим логином. Если вам понадобится помощь, то пишите нам в группу в <a href="http://vk.com/studyspacekz">ВКонтакте</a>.</p>
				</div>
				<div class="step-child icon"><img src="/img/icons/registration.svg" alt=""></div>
			</div>
			<div class="step">
				<div class="step-child step-text-section step-text-section--flex">
					<h2 class="step-title">Смотрите видео лекции</h2>
					<p class="step-text">Мы начали свою деятельность только месяц назад и успели снять более чем 70 видеорешений задач по математике и физике на двух языках. Наша команда растет, что ведет к еще большему количеству видеолекций и видеорешений задач. </p>
				</div>
				<div class="step-child icon"><img src="/img/icons/videos.svg" alt=""></div>
			</div>
			<div class="step">
				<div class="step-child step-text-section step-text-section--flex">
					<h2 class="step-title">Пишите онлайн тесты</h2>
					<p class="step-text">Возможность сдавать ЕНТ онлайн и смотреть результаты всего Казахстана. Это единственное веб приложение в своем роде в Казахстане. Мы будем периодически устраивать онлайн ЕНТ, чтобы вы могли примерно анализировать на каком месте вы идете, прогрессируете ли вы, есть ли шанс на грант и т.д. </p>
				</div>
				<div class="step-child icon"><img src="/img/icons/tests.svg" alt=""></div>
			</div>
			<div class="step">
				<div class="step-child step-text-section step-text-section--flex">
					<h2 class="step-title">Полный анализ работ</h2>
					<p class="step-text">После нескольких проведений онлайн ЕНТ, вашему аккаунту откроется возможность увидеть свою статистику, успеваемость и слабые места. Система подскажет вам на какие темы вам нужно больше работать.</p>
				</div>
				<div class="step-child icon"><img src="/img/icons/analysis.svg" alt=""></div>
			</div>
			<div class="step">
				<div class="step-child step-text-section step-text-section--flex">
					<h2 class="step-title">Онлайн уроки с инструктором</h2>
					<p class="step-text">Мы периодично проводим вебинары. Это бесценный момент, когда у вас появится возможность задавать вопросы в реальном времени по видеосвязи или в комментариях. Мы уже проводили пару раз экспериментальные вебинары, так мы их называем. </p>
				</div>
				<div class="step-child icon"><img src="/img/icons/tutorial.svg" alt=""></div>
			</div>
			<div class="step">
				<div class="step-child step-text-section step-text-section--flex">
					<h2 class="step-title">Yahoo!!!</h2>
					<p class="step-text">Пользуясь нашими услугами, мы гарантируем вам хороший результат на ЕНТ. В будущем наша система будет расти, появяться еще больше креативных приложений и идей, которые помогут вам достичь наивысшего балла на ЕНТ!</p>
				</div>
				<div class="step-child icon"><img src="/img/icons/success.svg" alt=""></div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container">
			<a href="http://studyspace.kz" target="_blank" class="footer-link">StudySpace.kz</a>
			<a href="http://vk.com/studyspacekz" target="_blank" class="footer-link">Вконтакте</a>
			<div class="fb-share-button" data-href="http://ent.studyspace.kz" data-layout="button"></div>
		</div>
	</footer>

</template>